<div class="jumbotron mt-4">
    <h1 class="display-4">Tecnobreo Notes (Por ahora) NodeJS y MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo tenetur omnis, dicta animi ipsa consequatur tempore mollitia eaque aperiam. Sint nobis excepturi doloribus ipsam perspiciatis alias similique quod magnam veniam!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quae delectus culpa quas fuga accusantium, dolores autem necessitatibus iusto distinctio debitis perspiciatis, ea quod dolore dicta omnis aut modi assumenda.</p>
    <a href="https://www.instagram.com/Vladotas/" class="btn btn-primary" target="_blank">Quien soy?</a>
</div>