<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Edit Note</h3>
            <div class="card-body">
                <form action="/notes/edit/{{note.id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method">
                <div class="form-group">
                     <input type="text" name="title" class="form-group" value="{{node.title}}">
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" value="{{node.description}}"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submite">
                        Save
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>